@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html{
  scroll-behavior: smooth;
  background: black;
}

.flames{
  width: 21px;
  position: absolute;
  bottom: 0;
  left: 51px;
  animation: flameAnimation 1.3s ease-in-out infinite;
}

@keyframes flameAnimation {
  0%, 100% {
    transform: translateY(-30%) scaleY(0.3);
    opacity: 0;
  }
  50%, 60% {
    transform: translateY(35%) scaleY(1.7);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}